<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <body>
        <%-  include('./partials/header.ejs') %> 
        <%-  include('./partials/body.ejs') %>
         <div class="card-wrapper">
            <div class="news">
               <% displays.forEach(function(item, index) { %> 
                   <a href="<%- item.link %>" class="news-card">
                    <img src="<%- item.media %>" alt="news-image" class="news-img">    
                    <p class="news-title">Headline: <%- item.title %> </p> 
                    <p class="news-summary">News Summary:<%- item.summary %> </p> 
                   </a>
               <% }) %> 
            </div>
           
        </div>
        <%-  include('./partials/footer.ejs') %> 
    </body>
</html>